.card2 {
  width: 25%;
  padding: 10px;
  background-color: rgb(218, 214, 214);
  display: inline-block;
  align-self: center;
  border-radius: 10px;
  font-size: 600%;
  text-align: center;
  margin: 3px;
  border: solid 3px;
}

.card .value {
  font-size: 15pt;
  font-family: sans-serif;
}
.selected {
  background-color: greenyellow;
}
