.selections {
  display: flex;
}
.card2 {
  width: 25%;
  padding: 10px;
  background-color: rgb(218, 214, 214);
  display: inline-block;
  align-self: center;
  border-radius: 10px;
  font-size: 600%;
  text-align: center;
  margin: 3px;
  border: solid 3px;
  z-index: 1;
}

.card .value {
  font-size: 15pt;
  font-family: sans-serif;
}
.selected {
  background-color: greenyellow;
}

.selectleft {
  display: flex;
  width: 30%;
  position: relative;
  left: 30px;
  margin: 3px;
}
.selectright {
  position: relative;
  right: 30px;
  display: flex;
  width: 30%;
  margin: 3px;
}
.selectleft:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(119, 215, 24, 0) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}
.selectright:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(119, 215, 24, 1) 0%,
    rgba(0, 29, 255, 0) 100%
  );
}
