.card2 {
  width: 40px;
  padding: 10px;
  border: solid 1px #808080;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 22px;
  text-align: center;
  margin: 3px;
  border: solid 3px;
}

.card .value {
  font-size: 15pt;
  font-family: sans-serif;
}
<<<<<<< HEAD
.selected {
  background-color: greenyellow;
}
=======

.card .suit {
  height: 100px;
  width: 90px;
}

>>>>>>> 0b5c8cf28afb9e20a3c7a7d437d7e105fe4e532c
