#root {
  margin-left: 1px;
  background-color: black;
}

#title {
  color: rgb(240, 240, 240);
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
  font-size: 1.8rem;
  color: black;

  /* background-image: url('./madcap.png') */
  /* background-color: grey; */
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
  font-size: 4.5rem;
  color: rgb(0, 0, 0);
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* .menu {
  align-items: center;
  display: flex;
  height: 50vh;
  width: 100vw;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* TRANSITION */
  -webkit-transition: background-image 400ms ease;
  -moz-transition: background-image 400ms ease;
  -o-transition: background-image 400ms ease;
  transition: background-image 400ms ease;
}

#menu-items {
  margin-left: clamp(0.5rem, 0.5vw, 48rem);
  position: relative;
  z-index: 2;
  padding-right: 100vw;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: "Ibarra Real Nova", serif;
  font-size: 4rem;
  padding: 2rem;
  padding-right: 100vw;
  text-decoration: none;
  transition: opacity 400ms ease, font-size 400ms ease;
  text-align: left;
} */
